name: build

on:
  pull_request:
    branches:
      - main
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: environment setup
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml

    - name: build
      run: |
        jupyter-book build .
